
layer_diffuse/datasets/*
!layer_diffuse/datasets

layer_diffuse/training_output/*
!layer_diffuse/training_output

layer_diffuse/wandb/

dataset_generator/modular_characters
dataset_generator/characters.json
dataset_generator/cache


# Ignore all the __pycache__ directories
**/__pycache__/
