
layer_diffuse/datasets/*
!layer_diffuse/datasets

layer_diffuse/training_outputs/*
!layer_diffuse/training_outputs

layer_diffuse/wandb/
layer_diffuse/cache

dataset_generator/generated_datasets/
dataset_generator/characters.json
dataset_generator/cache
**/nohup.out
cache/*



# Ignore all the __pycache__ directories
**/__pycache__/
rapport/